/* options.css */
/* initially copied from okcupid extension options.css */

body {
	margin: 0;
	padding: 30px 30px 30px 50px;
	font-family: helvetica, arial, sans-serif;
	font-size: 13px;
	color: #555;
}
h1 {
	margin: 0 0 25px -20px;
	padding: 0 0 25px 53px;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	color: #1b6086;
	background: transparent url(/images/icon_48.png) 0 0 no-repeat;
	border-bottom: 1px solid #eee;
}
h2 {
	margin: 10px 0;
	font-size: 16px;
}
a,
a:link,
a:visited,
a:active {
	text-decoration: none;
	color: #4f99ce;
}
a:hover {
	text-decoration: underline;
}
a.subtle,
a.subtle:link,
a.subtle:visited,
a.subtle:active {
	text-decoration: none;
	color: #999;
}
a.subtle:hover {
	text-decoration: underline;
}
p.notice {
	font-weight: bold;
	line-height: 34px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
	background: #D1E8F7;
	border-radius: 3px;
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
}
p.click {
	cursor: pointer;
}
ul {
	margin: 10px 0;
	padding: 0;
	list-style-type: none;
}

/* Box layout */
div.content {
	display: -webkit-box;
	display: box;
}
div.content > div:first-child {
	-webkit-box-flex: 1;
	box-flex: 1;
	padding-right: 30px;
}

ul.options {
}
ul.options li label {
	position: relative;
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 0 6px;
	width: 250px;
	line-height: 32px;
	cursor: pointer;
	background: #f6f6f6;
	border-bottom: 1px solid #fff;
	-webkit-transition: background 0.25s linear;
}
ul.options li:first-child label {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
ul.options li:last-child label {
	border-bottom: none;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
ul.options li label:hover {
	background: #eee;
}
ul.options li label input[type="checkbox"] {
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 5px;
}
ul.options li span.path {
	position: absolute;
	display: none;
	top: 0px;
	left: 16px;
	width: 8px;
	height: 15px;
	border-left: 1px #999 dotted;
	border-bottom: 1px #999 dotted;
}
ul.options li span.saved {
	font-style: italic;
	color: #82B94B;
}
ul.options li span.saved.hide {
	opacity: 0.0;
	-webkit-transition: opacity 0.5s ease-out;
}
ul.options li span.saved.show {
	opacity: 1.0;
}

ul.options li.subsetting {
	
}
ul.options li.subsetting label {
	padding-left: 30px;
	width: 226px;
	font-size: 11px;
}
ul.options li.subsetting span.path {
	display: block;
}



div.right {
	width: 400px;
	background: #f6f6f6;
	border-radius: 3px;
}
div.right div.section {
	padding: 10px 12px;
	border-bottom: 1px solid #eee;
}
div.right div.section:last-child {
	border-bottom: none;
	border-radius: 0 0 3px 3px;
}
div.right div.section p:first-child {
	margin-top: 0;
}
div.right div.section p:last-child {
	margin-bottom: 0;
}
div.right a.block {
	display: block;
	padding: 10px 12px;
	text-decoration: none;
	background: #f6f6f6;
	border-bottom: 1px solid #eee;
	-webkit-transition: background 0.25s linear;
}
div.right a.block:hover {
	background: #eee;
}
div.right a.block:last-child {
	border-bottom: none;
	border-radius: 0 0 3px 3px;
}
div.right p.address {
	text-align: center;
}
div.right p.address img {
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}