<!DOCTYPE html>
<html ng-app="BitAwesomeApp" ng-csp>
	<head>
		<title>BitAweseome</title>
		<script src="/js/lib/jquery-1.9.1.min.js"></script>
		<script src="/js/lib/angular.min.js"></script>
		<script src="/js/bin/popup.js"></script>
		<!--<link href='http://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet' type='text/css'>-->
		<!-- eventually, get this font packaged with the extension -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/popup.css"/>
	</head>

	<!-- body tag is display: box; -->
	<body ng-controller="PopupCtrl">
		
		<!--
		<div class="section services" style="display: none;">
			<a>Blockchain</a>
			<a>MtGox</a>
		</div>
		-->

		<div ng-controller="GoxCtrl" class="section gox">
			<p class="status" ng-class="getConnectionStatus()">
				<span class="dot"></span>
				<span ng-show="getConnectionStatusEq('connecting')" class="text connecting">
					Connecting...
				</span>
				<span ng-show="getConnectionStatusEq('open')" class="text open">
					<!-- Connected -->
				</span>
				<span ng-show="getConnectionStatusEq('closing')" class="text closing">
					Closing...
				</span>
				<span ng-show="getConnectionStatusEq('closed')&&retry_time!=null" class="text closed">
					Retrying in {{retry_time}}...
				</span>
			</p>
			<p ng-hide="currentPrice()" class="waiting">...waiting for data...</p>
			<p ng-show="currentPrice()" class="price" ng-class="priceChange()">
				<!-- down: ▼ &#9660; up: ▲ &#9650; none: ● &#9679; -->
				<span>{{currentPrice()}}</span>
				<span class="change up">&#9650;</span>
				<span class="change down">&#9660;</span>
			</p>
		</div>

		<!--
		<div ng-controller="BlockchainCtrl" class="section blockchain" style="display: none;">
			<a class="refresh" ng-click="refresh()"></a>
			<p class="price">{{getCurrentPrice()}}</p>
			<ul class="rates">
				<li ng-repeat="(key,value) in data" ng-class="{expanded:value.expanded}">
					<div class="lastprice" ng-class="getValueChangeClass(key, 'last')" ng-click="value.expanded=!value.expanded">
						<span class="key">{{key}}</span>
						<span class="symbol">{{value.symbol}}</span>
						<span class="dots"></span>
						<span class="major">{{getValueMajor(value.last)}}</span>
						<span class="minor">{{getValueMinor(value.last)}}</span>
						<span class="zeroes">{{getValueZeroes(value.last)}}</span>
					</div>
					<div class="info">
						More info here
					</div>
				</li>
			</ul>
		</div>
		-->

		<div class="section support">
			<p>Support development</p>
			<p>1EmR2AUiHT46rkhNPRAnYK61Nmn7JUuY3z</p>
		</div>

	</body>
</html>